.cate-wrap{position: absolute;z-index: 9999;width:170px;height: 270px;background: #fff;margin-top: -310px;margin-left: 10px;}
.cate-wrap ul{padding:10px;}
.cate-wrap ul li{border-bottom: 1px solid #eee;padding:15px 0px;}
.cate-wrap-box {padding-left: 10px;}
.cate-wrap-box p{line-height: 25px;}
.cate-wrap-box a{font-size: 14px;color: #9f9f9f;}










