.register_content .r_header{padding-top:10px;height: 20px;line-height: 20px;}
.register_content .r_header i{border-right:5px solid #f08f4b;font-size: 16px;}
.register_content .r_header span{font-size: 18px;color: #3e485b;padding-left: 10px;}
.register_content .r_header a{color: #f08f4b;font-size: 14px;text-decoration: underline;float: right;margin-right: 10px;}




































